.pageTitle {
  background-color: var(--colorBlueGray50);
  margin-bottom: 60px;
}

.pageTitle > .containerCenteredNotFullWidthSmaller {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.pageTitle h1 {
  font-size: 2.5rem;
}

/* smaller than the default h1 style. Better for lengthy blog post titles. */
.pageTitle .blogPostH1 {
  font-size: 2rem;
}

/* 
.pageTitle::first-letter {
  font-size: 2rem;
} */

@media (max-width: 599px) {
  .pageTitle > .containerCenteredNotFullWidthSmaller {
    justify-content: center;
  }
}
